NODE_ENV=production
PORT=3000
JWT_SECRET=tu-secret-key-aqui-cambiar-en-produccion
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173

# Database
DB_PATH=./cremoladas.db

# Socket.io
SOCKET_CORS=*

# Timezone Peru
TZ=America/Lima